html,
body {
  background-color: #012;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.swiper-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.swiper-slide {
  background-color: bisque;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.swiper-slide:nth-child(even) {
  background-color: teal;
}
