html,
body {
  background-color: #0d003a;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 1080px;
  margin: 0;
  padding: 0;
  width: 1920px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

p {
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
}

.ar {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

.ar.text-container {
  position: absolute;
  right: 214px;
  top: 140px;
  width: 620px;
}

.ar h2 {
  font-size: 30px;
  font-weight: 700;
  margin-right: 32px;
  width: 90%;
}

.ar .body p {
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  margin-right: 32px;
  width: 90%;
}

.en.text-container {
  left: 1085px;
  position: absolute;
  top: 605px;
  width: 650px;
}

.en h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 8.75px;
  line-height: 32px !important;
  margin-left: 32px;
  text-transform: uppercase;
  width: 90%;
}

.en .body p {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  margin-left: 32px;
  width: 90%;
}

.separator {
  background-image: linear-gradient(90deg, #fff -0.87%, #9402ee 1.21%, #0d003a 82.66%, #0d003a 99.37%);
  height: 3px;
  margin-bottom: 38px;
  margin-top: 32px;
  opacity: 0.65;
  width: 571px;
}

.ar .separator {
  right: 218px;
  transform: rotate(-180deg);
}

.en .separator {
  transform: rotate(0deg);
}

.media {
  left: 0;
  position: absolute;
  top: 0;
}

.credit {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  height: 0;
  left: 15px;
  position: absolute;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  top: 1060px;
  width: 1000px;
}

/* Swiper customization */

.swiper-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.swiper-slide {
  background: linear-gradient(180deg, #0d003a 0%, #242466 100%);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-image: url(../images/nav-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px !important;
  left: 92.6% !important;
  width: 60px !important;
}

.swiper-button-prev {
  top: 39.75% !important;
  transform: rotate(180deg);
}

.swiper-button-next {
  top: 59% !important;
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background-image: url(../images/nav-arrow-active.svg);
}

.swiper-pagination-bullets {
  right: 1.4% !important;
}

.swiper-pagination-bullet {
  height: 10px !important;
  margin: 10px 0 !important;
  width: 10px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.3 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1 !important;
}

/* Title slide */

.title-slide {
  background: radial-gradient(96.3% 87.1% at 100% 0%, #9402ee 0%, #0d003a 71.35%);
}

.title-slide .ar {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 37%;
  width: 100%;
}

.title-slide .en {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 12.25px;
  line-height: 61px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 100%;
}

.title-slide .separator {
  background: linear-gradient(90deg, rgba(13, 0, 58, 0) -0.88%, #9402ee 40.37%, #eee2ff 49.77%, #9402ee 57.6%, rgba(13, 0, 58, 0) 99.37%);
  height: 3px;
  left: 538px;
  opacity: 0.65;
  position: absolute;
  top: 44.4%;
  width: 845px;
}

/* Flipbook-specific gradients */

.flipbook-example-forest .title-slide {
  background: radial-gradient(93.07% 84.18% at 100% 0%, #f00 0%, #0d003a 71.35%);
}

.flipbook-example-forest .separator {
  background-image: linear-gradient(90deg, #ffe2e2 -0.87%, #f00 1.21%, #0d003a 82.66%, #0d003a 99.37%);
}

.flipbook-example-forest .title-slide .separator {
  background: linear-gradient(90deg, rgba(13, 0, 58, 0) -0.88%, #f00 44.55%, #fff 51.34%, #f00 57.08%, rgba(13, 0, 58, 0) 99.37%);
}

/* Home page manifest */

.cards-container {
  margin: 3%;
  width: 90%;
}

.card {
  background: radial-gradient(93.07% 84.18% at 100% 0%, rgb(238, 238, 238) 0%, #e3def5 71.35%);
  border: white 1px solid;
  border-radius: 10px;
  box-shadow: #0d003a 0 0 10px;
  color: #0d003a;
  cursor: pointer;
  float: left;
  height: 300px;
  margin: 2%;
  padding: 1.5%;
  text-align: left;
  width: 20%;
}
